body {
    background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
     

}


.intro {
  opacity:0;
  position: absolute;
  right: 36%;
  top: 100px;
  padding: 1rem 2rem;
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0 6px 40px rgba(0 0 0 / 0.35);
  transition: opacity 0.3s ease-in ;
  animation: bounce 4s ease infinite;  
  background-color: transparent;
  color: black;
 animation-fill-mode: forwards; 
}



.show {
    opacity: 1;
    height: 200px;
    width: 350px;
    
}

@keyframes bounce {
    from {background-color: red;}
    to {background-color: yellow;}
    
    from{transform: scale(1.2)}
    
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:60px
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,37,121,1) 0%, rgba(0,212,255,1) 100%);
}

.jumbotron{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    color: white;
}

.img-responsive {
    padding: 10px;
    text-align: center;
    
}

footer {
    text-align: center;
    color: white;
    
}

.covers {
    margin: 0 auto;
}

h5 {
    color: white;
}

#favourite{
    position: relative;
    padding-top: 60px;
}

span.badge.badge-primary{
    position: absolute;
    border-radius: 3px;
}

p.card-text {
    font-weight: small;
}


 /* .row1{
    background-color:gold;
    
}

.row2 {
    background-color: silver;
}

.row3 {
    background-color: rgb(168, 106, 12);
} */

.hide{
    opacity: 0;
    transition: 0.2s
}

.delete:hover > .hide {
    opacity: 1;
}

